h1 {
    color: black;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
}
ol {
    color: black;
}
ul {
    color: orange;
}
#bestrappersdiv {
    color: pink;
    background-color: hotpink;
}
#xxxtentacionfoundation {
    font-size: 2.5em;
}
.top-nba-teams {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.article {
    margin-left: 25%;
    margin-right: 25%;
}
.article-title {
    margin-top: 15%;
    font-size: 3.7em;
}
.team-title {
    font-size: 2em;
    margin-top: 7%;
}
.article-buttons {
    margin-top: 2%;
    margin-bottom: 2%;
}
